<!-- start custom footer snippets -->

{% if page.no_invest_warning_notice != true and page.show_invest_warning_notice == true %}
<script type="text/javascript">
    let mainBlock = document.getElementById("page-title");
    let mainBlockParent = mainBlock.parentNode
    let div = document.createElement("div");
    let span = document.createElement("span");

    span.innerHTML = '<strong>近期有熱心的網友通報身份被冒用進行詐騙，請注意本人並不會透過私訊主動推銷投資產品，如有相關情事，請具體蒐證並透過<a href="https://165.npa.gov.tw/#/">警政署線上報案檢舉 (165 專線)</a>。</strong>';

    div.className = 'notice--danger';
    div.append(span);
    mainBlockParent.insertBefore(div, mainBlock);
</script>
{% endif %}

<div id="footer-subscribe-email-list">
    <h3>Get the updates </h3>
    <form action="https://docs.google.com/forms/d/e/1FAIpQLSfuofCYvu2cV614aDt6SO5ua_5trT0EC5yeSJObLY0KGjFtvQ/formResponse" method="POST">
        <div style="display: flex;">
            <!-- input name="entry.205499253" type="text" id="Name" class="form-control" placeholder="Name" -->
            <input name="entry.1288273007" type="email" id="email" class="form-control" placeholder="Email" required="required" style="margin-top: 2px; margin-right: 5px; width: 50%;">
            <input class="btn btn--primary" id="subscribe" type="submit" value="訂閱 (Sign Up)" style="width: 30%;">
        </div>
    </form>
</div>
<!-- end custom footer snippets -->
