<!-- start custom footer snippets -->

{% if page.no_invest_warning_notice != true %}
<script type="text/javascript">
    let mainBlock = document.getElementById("page-title");
    let mainBlockParent = mainBlock.parentNode
    let div = document.createElement("div");
    let span = document.createElement("span");

    span.innerHTML = '<strong>近期有熱心的網友通報身份被冒用進行詐騙，請注意本人並不會透過私訊主動推銷投資產品，如有相關情事，請具體蒐證並透過<a href="https://165.npa.gov.tw/#/">警政署線上報案檢舉 (165 專線)</a>。</strong>';

    div.className = 'notice--danger';
    div.append(span);
    mainBlockParent.insertBefore(div, mainBlock);
</script>
{% endif %}

<!-- end custom footer snippets -->
